@import '../../layouts/blocks/header/logo';
@import '../../layouts/blocks/header/phone';
@import '../../layouts/blocks/header/address';

//// /* icons */ ////

$metka_icon: inline-image('icons_svg/metka.svg');
$phone_icon: inline-image('icons_svg/tel.svg');

.metka-icon{background-image: $metka_icon;}
.phone-icon{background-image: $phone_icon; padding: 0 5px;}

header {
  height: 140px;
  width: 100%;
  background-color: rgba(255,0,0,0.1);

  //background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 12px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.06);
  font-size: 1.1rem;
  //background: inline-image("bg/shina.png");
  background-position: 0 61px;
  background-size: 79%;
  background: inline-image("bg/bg.jpg");
  background-position: 100%;
  background-repeat: repeat-x;

}
.header_inner {
  @include container(960px);
  position: relative;
  height: 100%;
}




.icon {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 35px;
}

@include susy-breakpoint($mobile-size, $mobile) {


  header {
    height: 105px;
  }


  .phone-icon {
    position: absolute;
    top: -3px;
    left: -35px;
    background-size: 32px;
    height: 30px;
    width: 30px;

  }

  .metka-icon {
    position: absolute;
    top: -3px;
    left: -27px;
    background-size: 32px;
    height: 30px;
    width: 30px;
  }

  .social_vk {
    position: absolute;
    top: 57px;
    right: -1%;
    width: 33px;
    display: block;
    box-shadow: 0px 2px 9px 1px rgba(52, 73, 94, 0.35);
    z-index: 999;
    transition: .5s;

    &:hover {
      transition: .5s;
      box-shadow: 0px 4px 9px 2px rgba(52, 73, 94, 0.5);

    }
    //
  }

  .header_logo{
    position: absolute;
    left: 7%;
    text-align: center;
    z-index: 2;
    float: left;
    width: 70px;
    top: 15px;
  }
  .header_logo img {
    //height: 80px;
  }
  .header_contacts {
    @include span(63%);
    float: right;
    height: 100%;
    padding-top: 2%;
  }
  .header_contacts__address {
    @include span(last 6 of 6);
    text-align: left;
    height: 47%;

  }
  .header_contacts__phone  {
    @include span(6 of 6);
    text-align: left;
    left: 30%;
    height: 53%;
    position: relative;
    line-height: 1rem;
  }
  .header_contacts__address {
    position: relative;
    line-height: 1rem;

  }

  .contacts_address__street {
   font-size: 1rem;
  }

}


@include susy-breakpoint($tablet-size, $tablet ) {

  .icon {
    display: block;
    float: none;
    margin: 0 auto;
    height:40px;
    background-size: 35px;
  }


  .phone-icon {
    background-size: 32px;
    background-position: 50% 50%;
  }
  //header.mobile .phone-icon {
  //  position: relative;
  //  top: 20px;
  //  background-size: 32px;
  //  background-position: 50% 50%;
  //}

  .header_logo{
    position: relative;
    left: 0;
    text-align: center;
    height: 100%;
    z-index: 2;
    @include span(2);
    float: left;
  }
  .social_vk {
    position: absolute;
    top: -7px;
    right: 14px;
    width: 46px;
    display: block;
    box-shadow: 0px 2px 9px 1px rgba(52, 73, 94, 0.35);
    z-index: 999;
    transition: .5s;
  }


  .header_contacts {
    @include span(76.66667%)
  }
  .header_contacts__address {
    @include span(4 of 8);
  }
  .header_contacts__phone {
    @include span(last 4 of 8);
  }

  .header_contacts__address,
  .header_contacts__phone {
    text-align: center;
    height: 100%;
    position: relative;
  }


  .header_contacts__phone___inner > * {
    display: block;
  }

  .header_contacts__address___inner,
  .header_contacts__phone___inner{
    position: absolute;
    margin: auto;
    width: 100%;
  }

}

@include susy-breakpoint($desktop-size, $large ) {

  .header__inner {
  }

  .icon {
    display: block;
    float: none;
    margin: 0 auto;
    height: 40px;
    background-size: 35px;
  }

  .social_vk {
    position: absolute;
    top: -7px;
    right: -5%;
    width: 58px;
    display: block;
    box-shadow: 0px 2px 9px 1px rgba(52, 73, 94, 0.35);
    z-index: 999;
    transition: .5s;
    display: none;

    &:hover {
      transition: .5s;
      box-shadow: 0px 4px 9px 2px rgba(52, 73, 94, 0.5);

    }

  }

  .header_logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    z-index: 2;
    top:15px;
    @include span(2);
  }
  .header_contacts {
    @include span(12);
  }
  .header_contacts__address {
    @include span(4);
    @include post(2);
  }

  .header_contacts__phone {
    @include span(6);
    padding-top: 40px;
    text-align: right;
  }

  .mobile .header_contacts__phone {
    padding-top: 20px;
  }

  .header_contacts__phone__inner {
    @include span(4 of 6);
    text-align: right;


  }

  .header_contacts__address {
    position: relative;
    top: 35px;
  }
  .header_contacts__phone {
    position: relative;

  }

  .metka-icon {
    background-size: 45px;
    background-position: 0px 4px;
    float: left;
    width: 50px;
    height: 44px
  }
  .phone-icon {
    background-size: 45px;
    background-position: 0px ;
    float: left;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 167px;
  }


}

