%header.mobile
	.header_inner{:itemscope => true, :itemtype =>'http://schema.org/LocalBusiness'}
		%a{:class => 'social_vk',:href => 'http://vk.com/devmaslov', target: '_blank' }
			%img{:src => '/images/social/logo_VK_international.svg'}
		.header_logo
			%a.home.pt-trigger{:itemprop => 'url', href:'http://dev-maslov.herokuapp.com/', "data-animation" => "2", "data-goto" => "1" }
				%img{:itemprop => 'logo', :src => '/images/header/logo.svg'}
				%span.header_logo__sitename{:itemprop => 'name'}
					%strong.sitename_name__strong АвтоСервис
					%span.sitenane_name На Юнатов
		%meta{:itemscope => true, :itemprop => 'hasMap', :itemtype => 'http://schema.org/Map', :itemref => 'to-route'}
		.header_contacts
			.header_contacts__address{:itemprop => 'address', :itemscope => true, :itemtype => 'http://schema.org/PostalAddress'}
				.header_contacts__address___inner
					%i.icon.metka-icon
					%span.contacts_address__city-name{:itemprop => 'addressRegion'} Москва,
					%span.contacts_address__street{:itemprop => 'streetAddress'}
						Петровско-разумовский пр-зд д.29, стр.18

			.header_contacts__phone

				.header_contacts__phone___inner
					%i.icon.phone-icon
					%span.contacts_phone__telnum{:itemprop => 'telephone'}8 (966) 044-33-33
					%span.contacts_phone__telnum{:itemprop => 'telephone'}8 (925) 409-64-86
					%span.contacts_phone__work-hours{:itemprop => 'openingHours', :datetime => 'Mo-Su 9:21'} 9:00-21:00
					%a.contacts_phone__call_btn{:href => "tel:+79660443333"}
						%span.link_name Позвонить




