#map{:itemscope => 'true', :itemtype => "http://schema.org/GeoCoordinates"}
	%meta{:itemprop => "latitude", :content => "55.74118901"}
	%meta{:itemprop => "longitude", :content => "37.73929481"}


#slogan
	АвтоСервис24 автомастерская в САО.
	%br
	Починим отечественное авто и иномарку. Круглосуточный приём.
