


.block_contacts {

  height: 100%;
  @include span(last 10);
  position: relative;

}


.block_phone__icon {
  float: left;
  background-size: 34px;
  display: block;
  width: 15%;
}


.contacts_phone__work-hours {
  //bottom: 40px;
  font-size: .8rem;
  font-weight: bold;

}





@include susy-breakpoint($mobile-size, $mobile) {


  .header_contacts__phone {
    text-align: right;
  }


  a.contacts_phone__call_btn{

  span {
    color:grey;
    border-bottom: 1px dashed grey;
    font-size: 0.6rem;
  }

  }

  .phone_block {

  }
  .contacts_phone__telnum, .contacts_phone__telnum2 {
    //position: absolute;
    //top: 0px;
    //left: 45px;
    color: #373737;
    //float: left;
    display: block;
    white-space: nowrap;
  }
  .phone_block__telephone{

  }

  .contacts_phone__work-hours{
    display: block;
    margin-top: 4px;
    float: left;
  }


  a.contacts_phone__call_btn {
  //
     -webkit-transition: all,.1s;
    -moz-transition: all,.1s;
    -ms-transition: all,.1s;
    -o-transition: all,.1s;
    transition: all,1s;
    color: #ffffff;
    float: left;
    margin-left: 5px;

  }

  a.contacts_phone__call_btn  {
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(63, 152, 93, 0.9);
    border: 1px dashed #ffedef;
    padding: 0px 4px;
    -webkit-transition: all,.6s;
    -moz-transition: all,.6s;
    -ms-transition: all,.6s;
    -o-transition: all,.6s;
    transition: all,.6s;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

      .link_name {color: #fff;}
  }


  a.contacts_phone__call_btn .link_name{
    font-size: .6rem;
    //border-bottom: 1px dashed grey;

    //position: absolute;
    //text-align: center;
    //right: 7px;
    //top: 15px;
    //line-height: 1.45rem;
    //display: block;
  }
  //a.contacts_phone__call_btn:hover .link_name {
  //  color: #fff;
  //  -webkit-transition: all,.6s;
  //  -moz-transition: all,.6s;
  //  -ms-transition: all,.6s;
  //  -o-transition: all,.6s;
  //  transition: all,.6s;
  //}


  .contacts_phone__work-hours {
    //font-size: .6rem;
    //line-height: .8rem;
    //display: block;
    //position: absolute;
    //bottom: 2px;
    //left: 0px;
    //color: #100F0F;
    //z-index: 5;

  }
}

@include susy-breakpoint($tablet-size, $tablet ) {




  //
  //}

  .contacts_phone__work-hours {
    display: block;
    font-size: .8rem;


  }
  .contacts_phone__telnum {
    position: relative;
    display: block;
  }
}

@include susy-breakpoint($desktop-size, $large ) {
  .mobile .contacts_phone__work-hours {
    float: left;
  }
  .contacts_phone__work-hours {
    display: block;
    font-size: .9rem;
    float: right;
  }
  .mobile .contacts_phone__work-hours {
    position: absolute;
    right: 94px;
    bottom: 1px;
  }

  .contacts_phone__telnum {
    display: block;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .contacts_phone__telnum2 {
    display: block;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2px;
  }

  a.contacts_phone__call_btn  {
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(63, 152, 93, 0.9);
    border: 1px dashed #ffedef;
    padding: 1px 4px;
    -webkit-transition: all,.6s;
    -moz-transition: all,.6s;
    -ms-transition: all,.6s;
    -o-transition: all,.6s;
    transition: all,.6s;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    float: right;

    .link_name {color: #fff;}
  }

}

